.bungee {
    font-family: 'Bungee Hairline';
    font-size: 22px;
    
}

.bungee-list {
    font-family: 'Bungee Hairline';
    font-size: 15px;
    font-weight: bold;
    
}

.jumbotron {
    background-image: url("../images/banner.png");
}

.list-group {
     background-image: url("../images/games.jpg");
}