.bg-success {
    background-color: #2c4179;
}


.bungee {
    font-family: 'Bungee Hairline';
    font-size: 22px;
    
}

.bungee-list {
    font-family: 'Bungee Hairline';
    font-size: 15px;
    font-weight: bold;
}

.jumbotron {
    background-image: url("../images/banner.png");
}


